.App {
  text-align: center;
  font-family: 'Cardo', serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(248, 204, 133, 0.884);
  color: rgb(61, 53, 22);
  background-image: url("./images/hyrule.png");
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

.title-section {
  height: 8%;
  padding-top: 0.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  width: 100vw;
}

.Page {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left-section {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  flex-grow: 1;
}

.right-section {
  font-size: 1.25rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: rgb(48, 105, 37)
}

.map-item {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 651px;
  z-index: 5; */
}

.info-container {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 550;
}

a:hover {
  color: rgb(61, 53, 22)
}

.location-title:hover {
  width: 100%;
  text-align: left;
  margin-bottom: 0.25rem;
  color: rgb(48, 105, 37);
}